
/* AJUSTES GENERALES*/


.marginBottom{
    margin-bottom: 5%;
}

.margin1{
    margin-top: 5%;
}

.margin{
    margin-top: 10px;
}

.escalar{
    scale: (0.5);
}

.borde{
    border: solid 1px black;
}

    
.marginTextLeft{
    margin-left: 20px;
}

.inlineBlock{
    display: inline-block;
}

.colorFondo{
    background: linear-gradient(rgba(228, 225, 225, 0.849),white);
    
}

.encabezado{
    background-color: rgba(173, 170, 170, 0.966);
    border-bottom: solid 1px black;
    width:100%
}

@font-face {
    font-family: sono;
    src: url(../fonts/Sono-Bold.ttf);
}

@font-face {
    font-family: mono;
    src: url(../fonts/CQ\ Mono.otf);
}



p{
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

ul{
    list-style-type: none;
    padding:0px
}

a{
    text-decoration: none;
    color: black;}


.flex{

    display: flex;
    justify-content: space-around;

}



.sticky{
/* position: sticky; */
top: 0px;
}


.textoJustificado{
    text-align: justify;
}

.centrado{
    align-items: center;
}


.footer{
    background-color: rgba(173, 170, 170, 0.966);
    grid-area: footer;
}

.header__logo{
    margin-top: 30px;
}


/* AJUSTES GENERALES*/


/*AJUSTE DE CARDS*/


.cards{
    border: solid 1px black;
    border-radius: 10px;
    width: 100%;
    text-align: center;
    background-color: azure;

}

.cardClarificador{
    border: solid 1px black;
    border-radius: 10px;
    width: 400px;
    height: 360px;
    padding: 10px;
    text-align: center;
    margin: 50px;
    background-color: azure;
}

/*AJUSTE DE CARDS*/

/*AJUSTE DE NAV*/

.estiloNav{

    background-color: rgba(95, 91, 79, 0.315);
    color: black;
    border-top:solid 2px black;	
    border-right:solid 2px black;
    border-bottom:solid 2px black;
    border-left:solid 2px black;
    border-radius: 10px;
    margin: 15px;
    padding: 7px;
    }


/*AJUSTE DE NAV*/



.h1__fuente{
    font-family:'sono', sans-serif;
    font-size: 60px;
    color: #12494f;
}




.fachada{

    display: inline-block;
    width: 100%;
}

.header__logo{
    margin-bottom: 30px;
}

/*AJUSTE DE IMAGENES*/

.imagenTienda{
    width: 200px;
    height: 200px;
}

/*AJUSTE DE CUIDADOS*/

.cardCuidados{
    border: solid 1px black;
    border-radius: 600px;
    width: 400px;
    padding: 20px;
    text-align: center;
    margin: 60px;
    background-color: azure;
}

.textoCentrado{
    text-align: center;
}

/*AJUSTE DE CARD CONTACTOS*/

.fondoCardContactos{
    background-color: #4444449f;
}

/* AJUSTES DE GRID INDEX*/

.padre{
  display: grid;  
  grid-template-areas: 
  "header header"
  "img img "
  "div div"
  "footer footer";
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto;
}

.header{
  grid-area: header;  
}

.img{
    grid-area: img;
    border-radius: 15px;

}

.div{
    grid-area: div;
    width: 100%;
}


/*TIENDA*/

main > .container{
    padding: 20px 0px;
    margin-top: 50px;
}



/*DISEÑO DE FOOTER*/

.footer{
    width: 100%;
    padding: 50px 0px;
    background-image: url(../imagenes/foto\ footer.png);
    background-size: cover;
}

.container__footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
    margin-top: 100px;
}

.box__footer{
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.box__footer .logo img{
    width: 150px;
}

.box__footer .terms{
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: black;
    font-size: 15px;
}

.box__footer h2{
  margin-bottom: 30px;
  color: #343434;  
  font-weight: 700;
}

.box__footer a{
margin-top: 10px;
color: black;
font-weight: 600;
}

.box__footer a:hover{
opacity: 0.8;
}

.box__footer a .fab{
    font-size: 20px;
}

/*TIPOGRAFIA Y FUENTES*/

.tamañoM{
    font-size: 18px;
    text-align: justify;
}

.cardsIndexTitulo{
    text-align: center;
}

.cardsIndexTexto{
    text-align: justify;
}

/*SECCION SERVICIOS*/

.flexServicios{
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.marginServicios{
    margin: 10px;
}

/*SECCION CONTACTO*/

.marginContacto{
    margin: 5px;
}
